#sequenceDescriber {
  display: block;
  margin: 10px;
  position: absolute;
  min-width: 300px;
  min-height: 300px;
  top: 0px;
  padding: 20px 10px 20px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
}

#sequenceDescriber.hide {
  display: none;
}

#sequenceDescriber textarea {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
}

#sequenceDescriber .tools {
  position: absolute;
  display: flex;
  top: 18px;
  right: 25px;
  justify-content: flex-end;
  align-items: center;
}

#sequenceDescriber .tools .tool {
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
}

#sequenceDescriber .tools .tool:hover {
  background-color: #ffffff;
}

#sequenceDescriber .tools #lightbulb.on {
  background-color: #ffffff;
  fill: orange;
}
